:root{
    --color-green:#7DA85D;
    --color-LightGreen: #DAFFD4;
    --color-black: #000;
    --color-grey: #D9D9D9;
    --color-body-tex: #545454;
    --color-while: #fff;
}

// Bold - 700
// Semi Bold - 600
// Medium - 500
// Regular - 400